
body {
    font-family: -apple-system, "system-ui", "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    line-height: 1.2;
    margin: 0;
    background-color: #eee;
}

hr {
    color: rgba(0, 0, 0, 0.13);
    background-color: rgba(0, 0, 0, 0.13);
}

a {
    color: #F00;
    text-decoration: none;
    word-wrap: break-word;
}

a:hover {
    text-decoration: underline;
}

h1, h2, h3, h4 {
    margin-top: 1ch;
    margin-bottom: 1ch;
}

h2 a {
    text-decoration: none;
    color: #000;
}

main li {
    margin-bottom: 0.5ch;
}

img {
    max-width: 100%;
}

img.hero {
    height: 200px;
    object-fit: cover;
    object-position: center;
    width: 100%;
}

main {
    background-color: #fff;
    padding: 1ch 2ch;
    max-width: 80ch;
    margin-left: auto;
    margin-right: auto;
}

main p {
    color: #333;
}

main blockquote {
    margin: 0;
    padding: 1px 2ch;
    background-color: #eee;
    border-radius: 1ch;
    font-size: 110%;
    line-height: 1.3;
}

main blockquote cite {
    display: block;
    font-size: 80%;
    margin-top: 0.5ch;
}

header {
    font-size: 120%;
    padding: 1ch;
    background-color: #000;
    border-top: 0.5ch solid #ed393c;
}

header nav ul {
    display: flex;
    justify-content: end;
    gap: 1ch;
    list-style-type: none; 
    margin: 0;
    padding: 0;
}

header nav ul li {    
    text-transform: uppercase;
}

header nav ul a {
    color: #fff;
}

@media print  {
  header {
    display: none !important;
  }
}

footer {
    background-color: rgb(34, 33, 33);
    color: #fff;
    padding: 1ch;
    font-size: 80%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}


a.headline {
    color: unset !important;
    text-decoration: none !important;
}

.headline article {
    padding: 2ch;
    border-radius: 2ch;
    background-color: #eee;
    margin-bottom: 2ch;
}

.headline article:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.headline h2 {
    text-align: center;
}

.headline .date {
    text-align: center;
    font-size: 80%;
}

.headline .lead {
    text-align: left;
}


.pan_hero {
    margin: 0 auto 1ch auto;
    display: block;    
}

.video {
    position: relative;    
    padding-bottom: 56.25%;
    margin: 4ch;
}

.video > iframe {
   position: absolute;
   width: 100%;
   height: 100%;
}